<p>
  Hello <%= @resource.email %>!
</p>
<p> Someone has requested a link to change your password.
<br /> Please login with your temporary password below
<br />
<br />
  <b><%= @password %> </b>
<br />
<br />
If you didn't request this, please ignore this email.
</p>
