<p>
I’d like to add you as a stylist
<p>
<a href="https://hairfolio.com/diverseawarenes">https://hairfolio.com/diverseawarenes</a>
<br />
<br />
-----
<p>Don’t have Hairfolio?</p>
Get it from the App Store:<br />
<a href="https://itunes.apple.com/us/app/hairfolio/id1240611017?ls=1&mt=8">https://itunes.apple.com/us/app/hairfolio/id1240611017?ls=1&mt=8</a>
